<p>This page is being broadcasted from app --> views --> tasks --> show.html.erb</p>

<div class="container">
  <h2><%= @task.title %></h2>

  <p>
    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
    <label class="form-check-label" for="flexCheckChecked" checked></label>
    <%= @task.details %>
  </p>
  <p> <%= @task.completed %></p>
  <p><%= link_to 'Tasks', tasks_path, class: 'btn btn-primary'  %></p>
</div>
